beautifulsoup4==4.9.3
celery==5.0.5
channels==3.0.4
channels-redis==3.3.0
discord==1.0.1
discord.py==1.4.1
Django==3.1.7
django-extensions==3.1.5
django-impersonate==1.5.1
django-ratelimit==3.0.0
emoji==1.5.0
html2text==2020.1.16
IMAPClient==2.2.0
locust==1.2.3
importlib_resources==5.2.2
Markdown==3.2.2
numpy==1.21.2
Pillow==7.1.2
psycopg2==2.8.5
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
redis==3.5.3
requests==2.25.1
uvicorn==0.11.5
whitenoise[brotli]==5.2.0
